html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    padding: 0;
    width: 33.33%;
    height: 33.33%;
    top: 33.33%;
    left: 33.33%;
}
.boxes-container{
    width: 100%;
    height: 100%;
}
.box {
    width: 5%;
    height: 5%;
    float: left;
}
.box.active{
    background: black !important;
}
.rate{
    color: #999;
    font-family: monospace;
    font-size: 1.5em;
}
